<% include header %>
<body>
<h4>About Us</h4>
We are your one stop resource for online scheduling!
<h4>Purpose</h4>
 The purpose of this website is to generate work schedules based on employee availability and store hours. Managers can log on to create, approve, or edit the schedule. Employees can log on to view the schedule, cover shifts, or take on shifts. 
 <h4>Company Info</h4>
 uSchedule started with a scheduling app developed for a moose hide store in Dunsmuir, California. 
 <h4>Contact Information</h4>
 Herman Walnut
 (049) 111-2010
 </body>


<% include footer %>