<% include header %>

    <table id="login">
        <tr><td>AccountID: </td>
            <td><%= accountID %></td>
        </tr>
        <tr><td>Post: </td>
            <td><%= post %></td>
        </tr>
    </table>
<% include footer %>