<% include header %>


   <% if(rs.length > 0) { %>
   <form method="post" action="/user/posts">
       <label for="UserID">Users</label>
       <select id="UserID" name="UserID">
            <% for (var i=0; rs.length > i; i++) { %>
             <option value="<%= rs[i].AccountID %>">
                 <%= rs[i].Email %>
             </option>
            <% } %>
       </select>
       <input type="submit">
   </form>
    <% } else { %>
         No users are entered into the database.
    <% } %>

<% include footer %>