
<% include header %>

<h4>Employee Schedule</h4>

   <% if(rs.length > 0) { %>
    <table>
         <tr><th> Day    In  Out   Station</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
            <tr>
             <td> <%= rs[i].sh_Day %> <%= rs[i].sh_startTime %> <%= rs[i].sh_endTime %> <%= rs[i].sh_stnName %>
             </td>
            </tr>
        <% } %>
    </table>
    <% } else { %>
         No shifts have been scheduled for this employee.
    <% } %>

<% include footer %>