<% include header %>

            Welcome to uSchedule, the employee scheduling app! 
            <ol>
                <li><a href="/about">About uSchedule</a></li>
                <li><a href="/user/create">Sign Up</a></li>
                <li><a href="/user/editDept">Edit Department</a></li>
                <li><a href="/viewSchedule">View Schedule</a></li>
                <li><a href="/subCorner">Sub Corner</a></li>
            </ol>


<% var hideBackLink = true; %>
<% include footer %>