<% include header %>

<form method="POST" action="<%= action %>">
    <table id="login">

    	   <tr><td>Username:</td> 
	        <td><input type="text" id="accountID" name="accountID" /></td>
		</tr>
        <tr><td>Post:</td>
            <!-- name attribute must be provided for non ajax forms -->
            <td><textarea id="post" name="post" /></textarea></td>
        </tr>
    </table>
    <input type="submit">
</form>

<% include footer %>